<!DOCTYPE html>
<html style="height: 100%; width: 100%; overflow: hidden;">
  <head>
    <title>Easy Menu - Navigateur</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css" />
    <link href="./stylesheets/fontawesome/css/all.css" rel="stylesheet" />

    <script src="./js/vex.combined.min.js"></script>
    <script src="./js/micromodal.min.js"></script>
    <script>
      vex.defaultOptions.className = "vex-theme-os";
    </script>
    <link rel="stylesheet" href="./stylesheets/vex.css" />
    <link rel="stylesheet" href="./stylesheets/vex-theme-os.css" />
  </head>

  <body style="height: 100%; width: 100%; overflow: hidden;">
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/style.js"></script>
    <div id="wvc" class="webview"></div>
    <div class="menubar">
      <div class="menubar-left">
        <button class="mbutton" onclick='MicroModal.show("modal-fav")'>Favoris</button>
        <button class="mbutton">Historique</button>
      </div>
      <div class="menubar-right">
        <button class="mbutton" onclick="back();">←</button>
        <button class="mbutton" onclick="forward();">→</button>
        <button class="mbutton" onclick="reload();">r</button>
        <!--<button class="mbutton" onclick="window.api.minimizeBrowser()">-</button>
            <button class="mbutton" onclick="window.api.maximizeBrowser()">o</button>
            <button class="mbutton" onclick="window.api.closeBrowser()">x</button>-->
      </div>
    </div>

    <script>
      var lastUrl;
      var trusted = [];
      window.api.getTrusted();
      window.api.receive("trusted", (data) => {
        trusted = data;
      });

      function getDomainFromUrl(url) {
        return url.replace("https://", "").split("/")[0];
      }
      var oldDiv = document.getElementById("wvc");
      document.getElementById(
        "wvc"
      ).innerHTML = `<webview id="webview" class="navigateur" src="${window.api.url}"></webview>`;
      var webview = document.getElementById("webview");

      function back() {
        if (webview.canGoBack()) {
          webview.goBack();
        }
      }

      function reload() {
        webview.reload();
      }

      function forward() {
        if (webview.canGoForward()) {
          webview.goForward();
        }
      }

      webview.addEventListener("will-navigate", (e) => {
        lastUrl = webview.getURL();
      });
      webview.addEventListener("did-navigate", (e) => {
        if (
          getDomainFromUrl(webview.src) != getDomainFromUrl(webview.getURL()) &&
          !trusted.includes(getDomainFromUrl(webview.getURL()))
        ) {
          webview.stop();
          if (
            window.confirm(
              "Redirection vers le site : " + getDomainFromUrl(webview.getURL())
            )
          ) {
            if (!trusted.includes(getDomainFromUrl(webview.getURL()))) {
              if (
                window.confirm(
                  "Voulez vous ajouter " +
                    getDomainFromUrl(webview.getURL()) +
                    " au site autorisé"
                )
              ) {
                window.api.addTrusted(webview.getURL());
              }
            }
            webview.src = getDomainFromUrl(webview.getURL());
            webview.loadURL(webview.getURL());
          } else {
            webview.loadURL(lastUrl);
          }
        }
      });
    </script>




<div class="modal micromodal-slide" id="modal-fav" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <header class="modal__header">
          <h2 class="modal__title" id="modal-1-title">
            Favoris
          </h2>
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <main class="modal__content" id="modal-1-content">
        <div class="overflow">
          <ul>
              <li>Test 1</li>
              <li>Test 2</li>
              <li>Test 3</li>
              <li>Test 4</li>
              <li>Test 5</li>
              <li>Test 6</li>
              <li>Test 7</li>
              <li>Test 8</li>
              <li>Test 9</li>
              <li>Test 10</li>
              <li>Test 11</li>
              <li>Test 12</li>
              <li>Test 13</li>
              <li>Test 14</li>
              <li>Test 15</li>
              <li>Test 16</li>
              <li>Test 17</li>
              <li>Test 18</li>
              <li>Test 19</li>
              <li>Test 20</li>
              <li>Test 21</li>
              <li>Test 22</li>
              <li>Test 23</li>
              <li>Test 24</li>
              <li>Test 25</li>
              <li>Test 26</li>
              <li>Test 27</li>
              <li>Test 28</li>
              <li>Test 29</li>
              <li>Test 30</li>
              <li>Test 31</li>
              <li>Test 32</li>
              <li>Test 33</li>
              <li>Test 34</li>
              <li>Test 35</li>
              <li>Test 36</li>
              <li>Test 37</li>
              <li>Test 38</li>
              <li>Test 39</li>
              <li>Test 40</li>
              <li>Test 41</li>
              <li>Test 42</li>
              <li>Test 43</li>
              <li>Test 44</li>
              <li>Test 45</li>
              <li>Test 46</li>
              <li>Test 47</li>
              <li>Test 48</li>
              <li>Test 49</li>
              <li>Test 50</li>
              <li>Test 51</li>
              <li>Test 52</li>
              <li>Test 53</li>
              <li>Test 54</li>
              <li>Test 55</li>
              <li>Test 56</li>
              <li>Test 57</li>
              <li>Test 58</li>
              <li>Test 59</li>
              <li>Test 60</li>
              <li>Test 61</li>
              <li>Test 62</li>
              <li>Test 63</li>
              <li>Test 64</li>
              <li>Test 65</li>
              <li>Test 66</li>
              <li>Test 67</li>
              <li>Test 68</li>
              <li>Test 69</li>
              <li>Test 70</li>
              <li>Test 71</li>
              <li>Test 72</li>
              <li>Test 73</li>
              <li>Test 74</li>
              <li>Test 75</li>
              <li>Test 76</li>
              <li>Test 77</li>
              <li>Test 78</li>
              <li>Test 79</li>
              <li>Test 80</li>
              <li>Test 81</li>
              <li>Test 82</li>
              <li>Test 83</li>
              <li>Test 84</li>
              <li>Test 85</li>
              <li>Test 86</li>
              <li>Test 87</li>
              <li>Test 88</li>
              <li>Test 89</li>
              <li>Test 90</li>
              <li>Test 91</li>
              <li>Test 92</li>
              <li>Test 93</li>
              <li>Test 94</li>
              <li>Test 95</li>
              <li>Test 96</li>
              <li>Test 97</li>
              <li>Test 98</li>
              <li>Test 99</li>
              <li>Test 100</li>
          </ul>
        </div>
        </main>
      </div>
    </div>
  </div>
  </body>
</html>
