<!DOCTYPE html>
<html class="maxSize no-overflow">

<head>
    <title>Easy Menu - Notes</title>
    <link rel="stylesheet" type="text/css" href="./stylesheets/main.css">
    <link href="./stylesheets/fontawesome/css/all.css" rel="stylesheet">
</head>

<body class="maxSize no-overflow">
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/style.js"></script>
    <!--<button onclick="window.api.send('toMain', 'some data');">Send data to show alert</button>
  <button onclick="window.api.shutdown();">Shutdown the app</button> -->
    <div class="content background content-grid-2 center-content overflow content-padding">
        <div class="tile tile-spacing">
            <div class="tile-content">
                <div class="overflow">
                    <h3>Titre</h3>
                    Lorem culpa minim deserunt adipisicing consectetur. Amet irure proident ut anim culpa ipsum consequat aliqua. Officia enim id eu et non cupidatat ea est adipisicing dolor. Nostrud quis veniam minim pariatur. Laboris sit et est ad commodo amet tempor est mollit voluptate exercitation elit. Qui laboris pariatur Lorem do. Veniam qui est ipsum reprehenderit mollit sint esse fugiat in eiusmod ex id ad.

Nisi aliqua ea quis reprehenderit ex in nulla cupidatat culpa officia officia cupidatat magna. Quis sunt nulla officia consequat do ut aliqua. Deserunt enim officia non tempor pariatur qui magna aute irure. Ad est deserunt aliquip sit eiusmod adipisicing reprehenderit exercitation sint culpa.

Et laboris proident ea elit sunt enim. Sint do eu deserunt ex ullamco do reprehenderit ipsum cupidatat amet pariatur fugiat. Nulla in consequat proident enim ad ad. Laboris labore in in ullamco nisi dolor nisi magna. Quis nostrud eu incididunt et id aliqua dolore pariatur fugiat eiusmod ad.

Eu nulla est ea nisi qui elit aute aute. Enim fugiat proident ad proident commodo irure eiusmod sunt ea labore voluptate nulla anim. Pariatur ut ea cillum ipsum cillum ut consectetur labore. Occaecat fugiat quis cupidatat exercitation culpa pariatur occaecat quis amet. Lorem nulla sint tempor nostrud dolore veniam consequat veniam ullamco.

Ipsum eu amet commodo est dolor consequat. Labore elit adipisicing ex velit elit proident dolor. Exercitation minim est sit anim nisi do sint id sunt nostrud duis laboris aliqua aliquip.

Proident occaecat consectetur nulla laborum tempor duis elit laborum. Adipisicing non dolore fugiat officia id pariatur labore duis sunt eu amet occaecat consectetur mollit. Laboris sit laborum anim exercitation. Irure laboris duis in fugiat incididunt anim in velit sit dolore dolore. Aute commodo ipsum enim eiusmod velit. Aliqua in quis excepteur do qui ut amet minim ullamco.

Deserunt tempor cupidatat cillum nostrud. Exercitation culpa velit est sint eu. Nisi ipsum ipsum ea laborum mollit elit. Exercitation irure eiusmod consectetur dolor laborum in quis do nisi mollit fugiat laborum. Do sunt quis quis esse proident proident cupidatat in excepteur minim qui ipsum Lorem cillum. Id qui voluptate minim ad reprehenderit velit.
                </div>
            </div>
            <span class="bottom-title">17/10/2020</span>
        </div>

        <div class="tile tile-spacing">
            <div class="tile-content">
                <div class="overflow">
                    Lorem culpa minim deserunt adipisicing consectetur. Amet irure proident ut anim culpa ipsum consequat aliqua. Officia enim id eu et non cupidatat ea est adipisicing dolor. Nostrud quis veniam minim pariatur. Laboris sit et est ad commodo amet tempor est mollit voluptate exercitation elit. Qui laboris pariatur Lorem do. Veniam qui est ipsum reprehenderit mollit sint esse fugiat in eiusmod ex id ad.

Nisi aliqua ea quis reprehenderit ex in nulla cupidatat culpa officia officia cupidatat magna. Quis sunt nulla officia consequat do ut aliqua. Deserunt enim officia non tempor pariatur qui magna aute irure. Ad est deserunt aliquip sit eiusmod adipisicing reprehenderit exercitation sint culpa.

Et laboris proident ea elit sunt enim. Sint do eu deserunt ex ullamco do reprehenderit ipsum cupidatat amet pariatur fugiat. Nulla in consequat proident enim ad ad. Laboris labore in in ullamco nisi dolor nisi magna. Quis nostrud eu incididunt et id aliqua dolore pariatur fugiat eiusmod ad.

Eu nulla est ea nisi qui elit aute aute. Enim fugiat proident ad proident commodo irure eiusmod sunt ea labore voluptate nulla anim. Pariatur ut ea cillum ipsum cillum ut consectetur labore. Occaecat fugiat quis cupidatat exercitation culpa pariatur occaecat quis amet. Lorem nulla sint tempor nostrud dolore veniam consequat veniam ullamco.

Ipsum eu amet commodo est dolor consequat. Labore elit adipisicing ex velit elit proident dolor. Exercitation minim est sit anim nisi do sint id sunt nostrud duis laboris aliqua aliquip.

Proident occaecat consectetur nulla laborum tempor duis elit laborum. Adipisicing non dolore fugiat officia id pariatur labore duis sunt eu amet occaecat consectetur mollit. Laboris sit laborum anim exercitation. Irure laboris duis in fugiat incididunt anim in velit sit dolore dolore. Aute commodo ipsum enim eiusmod velit. Aliqua in quis excepteur do qui ut amet minim ullamco.

Deserunt tempor cupidatat cillum nostrud. Exercitation culpa velit est sint eu. Nisi ipsum ipsum ea laborum mollit elit. Exercitation irure eiusmod consectetur dolor laborum in quis do nisi mollit fugiat laborum. Do sunt quis quis esse proident proident cupidatat in excepteur minim qui ipsum Lorem cillum. Id qui voluptate minim ad reprehenderit velit.
                </div>
            </div>
            <span class="bottom-title">17/10/2020</span>
        </div>

        <div class="tile tile-spacing">
            <div class="tile-content">
                <div class="overflow">
                    Lorem culpa minim deserunt adipisicing consectetur. Amet irure proident ut anim culpa ipsum consequat aliqua. Officia enim id eu et non cupidatat ea est adipisicing dolor. Nostrud quis veniam minim pariatur. Laboris sit et est ad commodo amet tempor est mollit voluptate exercitation elit. Qui laboris pariatur Lorem do. Veniam qui est ipsum reprehenderit mollit sint esse fugiat in eiusmod ex id ad.

Nisi aliqua ea quis reprehenderit ex in nulla cupidatat culpa officia officia cupidatat magna. Quis sunt nulla officia consequat do ut aliqua. Deserunt enim officia non tempor pariatur qui magna aute irure. Ad est deserunt aliquip sit eiusmod adipisicing reprehenderit exercitation sint culpa.

Et laboris proident ea elit sunt enim. Sint do eu deserunt ex ullamco do reprehenderit ipsum cupidatat amet pariatur fugiat. Nulla in consequat proident enim ad ad. Laboris labore in in ullamco nisi dolor nisi magna. Quis nostrud eu incididunt et id aliqua dolore pariatur fugiat eiusmod ad.

Eu nulla est ea nisi qui elit aute aute. Enim fugiat proident ad proident commodo irure eiusmod sunt ea labore voluptate nulla anim. Pariatur ut ea cillum ipsum cillum ut consectetur labore. Occaecat fugiat quis cupidatat exercitation culpa pariatur occaecat quis amet. Lorem nulla sint tempor nostrud dolore veniam consequat veniam ullamco.

Ipsum eu amet commodo est dolor consequat. Labore elit adipisicing ex velit elit proident dolor. Exercitation minim est sit anim nisi do sint id sunt nostrud duis laboris aliqua aliquip.

Proident occaecat consectetur nulla laborum tempor duis elit laborum. Adipisicing non dolore fugiat officia id pariatur labore duis sunt eu amet occaecat consectetur mollit. Laboris sit laborum anim exercitation. Irure laboris duis in fugiat incididunt anim in velit sit dolore dolore. Aute commodo ipsum enim eiusmod velit. Aliqua in quis excepteur do qui ut amet minim ullamco.

Deserunt tempor cupidatat cillum nostrud. Exercitation culpa velit est sint eu. Nisi ipsum ipsum ea laborum mollit elit. Exercitation irure eiusmod consectetur dolor laborum in quis do nisi mollit fugiat laborum. Do sunt quis quis esse proident proident cupidatat in excepteur minim qui ipsum Lorem cillum. Id qui voluptate minim ad reprehenderit velit.
                </div>
            </div>
            <span class="bottom-title">17/10/2020</span>
        </div>

        <div class="tile tile-spacing">
            <div class="tile-content">
                <div class="overflow">
                    Lorem culpa minim deserunt adipisicing consectetur. Amet irure proident ut anim culpa ipsum consequat aliqua. Officia enim id eu et non cupidatat ea est adipisicing dolor. Nostrud quis veniam minim pariatur. Laboris sit et est ad commodo amet tempor est mollit voluptate exercitation elit. Qui laboris pariatur Lorem do. Veniam qui est ipsum reprehenderit mollit sint esse fugiat in eiusmod ex id ad.

Nisi aliqua ea quis reprehenderit ex in nulla cupidatat culpa officia officia cupidatat magna. Quis sunt nulla officia consequat do ut aliqua. Deserunt enim officia non tempor pariatur qui magna aute irure. Ad est deserunt aliquip sit eiusmod adipisicing reprehenderit exercitation sint culpa.

Et laboris proident ea elit sunt enim. Sint do eu deserunt ex ullamco do reprehenderit ipsum cupidatat amet pariatur fugiat. Nulla in consequat proident enim ad ad. Laboris labore in in ullamco nisi dolor nisi magna. Quis nostrud eu incididunt et id aliqua dolore pariatur fugiat eiusmod ad.

Eu nulla est ea nisi qui elit aute aute. Enim fugiat proident ad proident commodo irure eiusmod sunt ea labore voluptate nulla anim. Pariatur ut ea cillum ipsum cillum ut consectetur labore. Occaecat fugiat quis cupidatat exercitation culpa pariatur occaecat quis amet. Lorem nulla sint tempor nostrud dolore veniam consequat veniam ullamco.

Ipsum eu amet commodo est dolor consequat. Labore elit adipisicing ex velit elit proident dolor. Exercitation minim est sit anim nisi do sint id sunt nostrud duis laboris aliqua aliquip.

Proident occaecat consectetur nulla laborum tempor duis elit laborum. Adipisicing non dolore fugiat officia id pariatur labore duis sunt eu amet occaecat consectetur mollit. Laboris sit laborum anim exercitation. Irure laboris duis in fugiat incididunt anim in velit sit dolore dolore. Aute commodo ipsum enim eiusmod velit. Aliqua in quis excepteur do qui ut amet minim ullamco.

Deserunt tempor cupidatat cillum nostrud. Exercitation culpa velit est sint eu. Nisi ipsum ipsum ea laborum mollit elit. Exercitation irure eiusmod consectetur dolor laborum in quis do nisi mollit fugiat laborum. Do sunt quis quis esse proident proident cupidatat in excepteur minim qui ipsum Lorem cillum. Id qui voluptate minim ad reprehenderit velit.
                </div>
            </div>
            <span class="bottom-title">17/10/2020</span>
        </div>

        <div class="tile tile-spacing">
            <div class="tile-content">
                <div class="overflow">
                    Lorem culpa minim deserunt adipisicing consectetur. Amet irure proident ut anim culpa ipsum consequat aliqua. Officia enim id eu et non cupidatat ea est adipisicing dolor. Nostrud quis veniam minim pariatur. Laboris sit et est ad commodo amet tempor est mollit voluptate exercitation elit. Qui laboris pariatur Lorem do. Veniam qui est ipsum reprehenderit mollit sint esse fugiat in eiusmod ex id ad.

Nisi aliqua ea quis reprehenderit ex in nulla cupidatat culpa officia officia cupidatat magna. Quis sunt nulla officia consequat do ut aliqua. Deserunt enim officia non tempor pariatur qui magna aute irure. Ad est deserunt aliquip sit eiusmod adipisicing reprehenderit exercitation sint culpa.

Et laboris proident ea elit sunt enim. Sint do eu deserunt ex ullamco do reprehenderit ipsum cupidatat amet pariatur fugiat. Nulla in consequat proident enim ad ad. Laboris labore in in ullamco nisi dolor nisi magna. Quis nostrud eu incididunt et id aliqua dolore pariatur fugiat eiusmod ad.

Eu nulla est ea nisi qui elit aute aute. Enim fugiat proident ad proident commodo irure eiusmod sunt ea labore voluptate nulla anim. Pariatur ut ea cillum ipsum cillum ut consectetur labore. Occaecat fugiat quis cupidatat exercitation culpa pariatur occaecat quis amet. Lorem nulla sint tempor nostrud dolore veniam consequat veniam ullamco.

Ipsum eu amet commodo est dolor consequat. Labore elit adipisicing ex velit elit proident dolor. Exercitation minim est sit anim nisi do sint id sunt nostrud duis laboris aliqua aliquip.

Proident occaecat consectetur nulla laborum tempor duis elit laborum. Adipisicing non dolore fugiat officia id pariatur labore duis sunt eu amet occaecat consectetur mollit. Laboris sit laborum anim exercitation. Irure laboris duis in fugiat incididunt anim in velit sit dolore dolore. Aute commodo ipsum enim eiusmod velit. Aliqua in quis excepteur do qui ut amet minim ullamco.

Deserunt tempor cupidatat cillum nostrud. Exercitation culpa velit est sint eu. Nisi ipsum ipsum ea laborum mollit elit. Exercitation irure eiusmod consectetur dolor laborum in quis do nisi mollit fugiat laborum. Do sunt quis quis esse proident proident cupidatat in excepteur minim qui ipsum Lorem cillum. Id qui voluptate minim ad reprehenderit velit.
                </div>
            </div>
            <span class="bottom-title">17/10/2020</span>
        </div>

        <div class="tile tile-spacing">
            <div class="tile-content">
                <div class="overflow">
                    Lorem culpa minim deserunt adipisicing consectetur. Amet irure proident ut anim culpa ipsum consequat aliqua. Officia enim id eu et non cupidatat ea est adipisicing dolor. Nostrud quis veniam minim pariatur. Laboris sit et est ad commodo amet tempor est mollit voluptate exercitation elit. Qui laboris pariatur Lorem do. Veniam qui est ipsum reprehenderit mollit sint esse fugiat in eiusmod ex id ad.

Nisi aliqua ea quis reprehenderit ex in nulla cupidatat culpa officia officia cupidatat magna. Quis sunt nulla officia consequat do ut aliqua. Deserunt enim officia non tempor pariatur qui magna aute irure. Ad est deserunt aliquip sit eiusmod adipisicing reprehenderit exercitation sint culpa.

Et laboris proident ea elit sunt enim. Sint do eu deserunt ex ullamco do reprehenderit ipsum cupidatat amet pariatur fugiat. Nulla in consequat proident enim ad ad. Laboris labore in in ullamco nisi dolor nisi magna. Quis nostrud eu incididunt et id aliqua dolore pariatur fugiat eiusmod ad.

Eu nulla est ea nisi qui elit aute aute. Enim fugiat proident ad proident commodo irure eiusmod sunt ea labore voluptate nulla anim. Pariatur ut ea cillum ipsum cillum ut consectetur labore. Occaecat fugiat quis cupidatat exercitation culpa pariatur occaecat quis amet. Lorem nulla sint tempor nostrud dolore veniam consequat veniam ullamco.

Ipsum eu amet commodo est dolor consequat. Labore elit adipisicing ex velit elit proident dolor. Exercitation minim est sit anim nisi do sint id sunt nostrud duis laboris aliqua aliquip.

Proident occaecat consectetur nulla laborum tempor duis elit laborum. Adipisicing non dolore fugiat officia id pariatur labore duis sunt eu amet occaecat consectetur mollit. Laboris sit laborum anim exercitation. Irure laboris duis in fugiat incididunt anim in velit sit dolore dolore. Aute commodo ipsum enim eiusmod velit. Aliqua in quis excepteur do qui ut amet minim ullamco.

Deserunt tempor cupidatat cillum nostrud. Exercitation culpa velit est sint eu. Nisi ipsum ipsum ea laborum mollit elit. Exercitation irure eiusmod consectetur dolor laborum in quis do nisi mollit fugiat laborum. Do sunt quis quis esse proident proident cupidatat in excepteur minim qui ipsum Lorem cillum. Id qui voluptate minim ad reprehenderit velit.
                </div>
            </div>
            <span class="bottom-title">17/10/2020</span>
        </div>
    </div>
</body>

</html>